mixin m-twoWordTitle01(tg)
	-
		var op = {
			tag:       tg.tag ? tg.tag : "div",
			baseName:  tg.baseName ? tg.baseName : "m-twoWordTitle01",
			className: tg.className ? " " + tg.className : " " + "",
			largeText: tg.text ? tg.text : "ダミータイトルです",
			smallText: tg.text ? tg.text : "ダミータイトルです"
		}
	#{op.tag}( class = op.baseName + op.className ).com-title
		span.is-large!= op.largeText
		span.is-small!= op.smallText
