mixin m-title-twoWord01(tg)
	-
		var op = {
			tag:       tg.tag ? tg.tag : "div",
			baseName:  tg.baseName ? tg.baseName : "m-title-twoWord01",
			className: tg.className ? tg.className : "",
			largeText: tg.text ? tg.text : "ダミータイトルです",
			smallText: tg.text ? tg.text : "ダミータイトルです"
		}
	#{op.tag}( class = op.baseName + " " + op.className )
		span.is-large!= op.largeText
		span.is-small!= op.smallText
