.c-imageBgSet01
	
	
	&.is-left
		.contentsArea
			align-items flex-start

	&.is-right
		.contentsArea
			align-items flex-end
	
	&.is-center
		.contentsArea
			align-items center

	.group
		&.is-before
			margin-bottom 30px
		&.is-primary
			position relative
			.block.is-image
				width 100%
				.image
					width 100%
					img
						max-width inherit
						width 100%
						height auto
			.area
				&.is-text
					flexBox()
					flex-flow column
					justify-content center
					position absolute
					top 0
					left 0
					width 100%
					height 100%
					padding 20px
					box-sizing border-box
		&.is-after
			margin-top 30px

	.block
		// wysiwyg用
		m-defaultTag()