//- モジュール - ボーダーレフトタイトル01
.m-title-borderLeft01
	marginBottom(30)

	span
		position relative
		box-sizing border-box
		padding-left 10px
		fontSize(20)
		&:before
			content: ""
			position absolute
			top 0
			left 0
			display block
			width 3px
			height 100%
			background-color #CCC