//- コンポーネント - 画像+テキストコンポーネント03
.c-imageText03
	
	&.is-imageRight
		+MQ_PC(SP_RES_WID)
			.block
				&.is-image
					order 1

	.group
		&.is-before
			margin-bottom 30px
		&.is-primary
			border 1px solid SITE_COLOR02
			+MQ_PC(SP_RES_WID)
				display flex
				align-items center

			.block
				&.is-text
					padding 15px
					box-sizing border-box
					+MQ_PC(SP_RES_WID)
						width 40%
				&.is-image
					position relative
					+MQ_PC(SP_RES_WID)
						width 60%
						min-height 340px
					+MQ_SP(SP_RES_WID)
						width 100%
						padding-top 50%
					.area
						&.is-image
							position absolute
							width 100%
							height 100%
							background-position center center
							background-repeat no-repeat
							background-size cover
							
		&.is-after
			margin-top 30px


	.block
		// wysiwyg用
		m-defaultTag()
	
	.area
		margin-bottom 10px
		&:last-child
			margin-bottom 0
		&.is-sub
			fontSize(12)
	