//- コンポーネント - 画像コンポーネント01
.c-divideSet01

	.block
		// wysiwyg用
		m-defaultTag()
		&.is-image
			margin-bottom 10px
	
	.area
		margin-bottom 10px
		&:last-child
			margin-bottom 0
		&.is-sub
			fontSize(12)