extends /_include/_template/_t_base_template

block vars
	- var KEY = "component"
	- var URL = 'component.html'
	- var RELATIVE_PATH = ''
	- var TITLE = 'タイトル'
	- var DESCRIPTION = ''
	- var KEYWORDS = ''
	- var header = "false"
	- var footer = "false"
	- var side = ["false","left"]
	- var jquery = "true"

block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})

			+c-qandaSet01({tag:"div"})
				+c-qandaList01({tag:"div", question:"タイトルが入ります", answer:DUMMY_TEXT_400})
				+c-qandaList01({tag:"div", question:"タイトルが入ります", answer:"テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります"})
				+c-qandaList01({tag:"div", question:"タイトルが入ります", answer:"テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります"})
				+c-qandaList01({tag:"div", question:"タイトルが入ります", answer:"テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入ります"})
				+c-qandaList01({tag:"div"})
					mixin questionArea()
						p.title タイトルが入ります
					mixin answerArea()
						p!= DUMMY_TEXT_400