extends /_include/_template/_t_base_template

block vars
	- var KEY = "canvas"
	- var URL = 'index.html'
	- var RELATIVE_PATH = ''
	- var TITLE = 'ページリスト'
	- var DESCRIPTION = ''
	- var KEYWORDS = ''
	- var header = "false"
	- var footer = "false"
	- var side = ["false","left"]
	- var jquery = "true"

block library
	script(src= "https://code.createjs.com/1.0.0/createjs.min.js")

block contents
	canvas.js-canvasLoadingAnimation