extends /_include/_template/_t_base_template

block vars
	- var KEY = "home"
	- var URL = 'index.html'
	- var RELATIVE_PATH = ''
	- var TITLE = 'ページリスト'
	- var DESCRIPTION = ''
	- var KEYWORDS = ''
	- var header = "false"
	- var footer = "false"
	- var side = ["false","left"]
	- var jquery = "true"

block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})
			p
				a(href="" data-simplemodal-target="modaltest").c-simpleModal01Target modalテスト

			.c-simpleModal01#modaltest
				p モーダル
				p.is-close 閉じる