extends /_include/_template/_t_base_template

block vars
	- var KEY = "component"
	- var URL = 'component.html'
	- var RELATIVE_PATH = ''
	- var TITLE = 'タイトル'
	- var DESCRIPTION = ''
	- var KEYWORDS = ''
	- var header = "false"
	- var footer = "false"
	- var side = ["false","left"]
	- var jquery = "true"

block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})
			+l-columnBlock({tag:"div"})
				+l-columnBox({tag:"div"})
					+m-borderBottomTitle01({tag:"h3",text:"ボタン01"})
					+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})

				+l-columnBox({tag:"div"})
					+m-borderBottomTitle01({tag:"h3",text:"ボタン02"})
					+m-btn02({tag:"p",text:"ボタン02", url:"index.html", className:"is-icon"})

				+l-columnBox({tag:"div"})
					+m-borderBottomTitle01({tag:"h3",text:"ページャー01"})
					+m-pager01([{list:"1"},{list:"2",url:"#"}])