extends /_include/_template/_t_base_template

block vars
	- var KEY = "component"
	- var URL = 'component.html'
	- var RELATIVE_PATH = ''
	- var TITLE = 'タイトル'
	- var DESCRIPTION = ''
	- var KEYWORDS = ''
	- var header = "false"
	- var footer = "false"
	- var side = ["false","left"]
	- var jquery = "true"

block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})
			+m-btn01({tag:"p",text:"ボタン01", url:"index.html"})
			+m-btn02({tag:"p",text:"ボタン02", url:"#", className:"is-icon"})
			+m-pager01([{list:"1"},{list:"2",url:"#"}])