extends /_include/_template/_t_base_template

block vars
	- var KEY = "component"
	- var URL = 'component.html'
	- var RELATIVE_PATH = ''
	- var TITLE = 'タイトル'
	- var DESCRIPTION = ''
	- var KEYWORDS = ''
	- var header = "false"
	- var footer = "false"
	- var side = ["false","left"]
	- var jquery = "true"

block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})
			+l-columnBlock({tag:"div"})
				+m-componentTitle01({tag:"h3",text:"分割レイアウト"})
				+l-columnBox({tag:"div"})
					+l-colSet01({tag:"ul", className:"is-two"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
				+l-columnBox({tag:"div"})
					+l-colSet01({tag:"ul", className:"is-three"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
				+l-columnBox({tag:"div"})
					+l-colSet01({tag:"ul", className:"is-four"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
				+l-columnBox({tag:"div"})
					+l-colSet01({tag:"ul", className:"is-five"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
				+l-columnBox({tag:"div"})
					+l-colSet01({tag:"ul", className:"is-six"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
						li
							+m-btn01({tag:"p",text:"ボタン01", url:"index.html", className:"is-icon"})
				+l-columnBox({tag:"div"})
					.c-memoSet01
						.group.is-before
							.block.is-text
								.area.is-text
									ul.tab
										li.is-current 使用モジュール
										li 使い方
										li pug
										li html
						.group.is-primary.is-current
							.block.is-text
								.area.is-code
									ul.m-discList01
										li 
						.group.is-primary
							.block.is-text
								.area.is-code
									pre
										code.stylus
						.group.is-primary
							.block.is-text
								.area.is-code
									pre
										code.stylus
						.group.is-primary
							.block.is-text
								.area.is-code
									pre
										code.html
			+l-columnBlock({tag:"div"})
				+m-componentTitle01({tag:"h3",text:"pc表示 sp表示 切り替え"})
				+l-columnBox({tag:"div"})
					p.is-pcOnly pcのみ表示
					p.is-spOnly spのみ表示
				+l-columnBox({tag:"div"})
					.c-memoSet01
						.group.is-before
							.block.is-text
								.area.is-text
									ul.tab
										li.is-current 使用モジュール
										li 使い方
										li pug
										li html
						.group.is-primary.is-current
							.block.is-text
								.area.is-code
									ul.m-discList01
										li 
						.group.is-primary
							.block.is-text
								.area.is-code
									pre
										code.stylus
						.group.is-primary
							.block.is-text
								.area.is-code
									pre
										code.stylus
						.group.is-primary
							.block.is-text
								.area.is-code
									pre
										code.html