extends /_include/_template/_t_base_template

block vars
	- var KEY = "component"
	- var URL = 'component.html'
	- var RELATIVE_PATH = ''
	- var TITLE = 'タイトル'
	- var DESCRIPTION = ''
	- var KEYWORDS = ''
	- var header = "false"
	- var footer = "false"
	- var side = ["false","left"]
	- var jquery = "true"

block contents
	+l-contentsWidth({tag:"div"})
		+l-mqWrapper({tag:"div"})
			+m-bgTitle01({tag:"h3"})
			+m-boldLargeTitle01({tag:"h3"})
			+m-borderBottomTitle01({tag:"h3"})
			+m-borderLeftTitle01({tag:"h3"})
			+m-borderRightTitle01({tag:"h3"})
			+m-borderTopTitle01({tag:"h3"})
			+m-borderTopBottomTitle01({tag:"h3"})
			+m-twoWordTitle01({tag:"h3"})